.nav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e64e4e;
    transition: .5s ease;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-style: sans-serif;
    
    

    .beerTitle {
        color: rgb(19, 2, 2);
        font-size: 30px;
        padding: 10px;
    }
    a {
        color:rgb(112, 0, 0);
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
    }
}

